html
	head
		title= count.pseudo
		style
			include style.css
	body
		table
			tr
				td= 'Pseudo'
				td= '#'
				td= 'Nombre de fois où il a utilisé ce #'
			tr
				td= count.pseudo
				td= count.content
				td= count.count
		div
			p= 'emmanuelmacron'
			p= 'ephilippepm'
			p= 'faureolivier'
			p= 'laurentwauquiez'
			p= 'jlmelenchon'
			p= 'mlp_officiel'