html
	head
		title= 'Liste des personnalités'
		style
			include style.css
	body
		h1= 'Liste des personnalités'
	table
		for person in personList
			tr
				td= person.id
				td
					a(href='/person/'+person.id) #{person.name}
				td= person.pseudo